In [2]:
import pandas as pd

In [3]:
tfrecord_path = "//mnt/research/IceCube/Gupta-Reco/22644/0005000-0005999-tfrecords/pulses_ds_22645_from_5000_to_6000_10_to_100TeV.ftr"
# tfrecord_path = "/mnt/research/IceCube/Gupta-Reco/22645/0001000-0001999-tfrecords/pulses_ds_22645_from_1000_to_2000_10_to_100TeV.ftr"
df = pd.read_feather(tfrecord_path)

In [4]:
print("Total rows:", len(df))

Total rows: 7782

Total rows: 883952

In [5]:
df.head()

       event_id  sensor_id     time  charge  is_HLC
0  2.264405e+14     1748.0  10861.0   1.275     1.0
1  2.264405e+14     1749.0  10063.0   0.975     1.0
2  2.264405e+14     1750.0  10339.0   0.725     1.0
3  2.264405e+14     1751.0  10445.0   0.625     1.0
4  2.264405e+14     1752.0   9907.0   1.275     1.0

In [6]:
df_subset = df
duplicate_row = df_subset.duplicated(["event_id", "sensor_id", "time", "charge", "is_HLC"], keep='first')
duplicate_rows = df_subset[duplicate_row]
num_duplicates = duplicate_row.sum()

print('num duplicates', num_duplicates)

num duplicates 0